<body class="bg-secondary">

    <h3 class="text-center my-5 text-light">Đặt lại mật khẩu</h3>
    <!-- buộc toàn bộ dòng và cột phải bỏ trong class container -->
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-5">
                <div class="border p-3 rounded bg-light">
                    <form method="post" action="/user/resetPassword">
                        <div class="form-group">
                            <label for="user">Mật khẩu cũ</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input name="oldPass" value="{{oldPass}}" type="password" class="form-control"
                                    placeholder="Mật khẩu cũ">

                            </div>
                            <label for="user">Mật khẩu mới</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input name="newPass" value="{{newPass}}" type="password" class="form-control"
                                    placeholder="Mật khẩu mới">

                            </div>
                            <label for="user">Xác nhận mật khẩu mới</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-user"></i>
                                    </span>
                                </div>
                                <input name="rePass" value="{{rePass}}" type="password" class="form-control"
                                    placeholder="Xác nhận mật khẩu mới">

                            </div>

                        </div>

                        {{#if error}}
                        <div class="form-group">
                            <div class="alert alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{error}}
                            </div>
                        </div>
                        {{/if}}
                        <div class="form-group">
                            <button class="btn btn-success px-5" type="submit">Xác nhận</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>